<%= form_for :session do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  
  <br><br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br> <br>
  <%= f.submit "Log In" %>

<% end %>
<p>Don't you have an account?</p>
<%= link_to 'Create Account', new_user_path %>