<%= current_user.username  %> <strong>Payment</strong> </h2>
<br>
Available Money <%= @current_user.cash %>
<br>
<hr>
Itens <%= subtotal %>
<br>
Shipping
<br>
<br>
<%= button_to 'Pay', pay_path %>
<br>
<%= link_to 'Back', books_path %>