<%= current_user.username  %> <strong>Cart</strong> </h2>
<br>
<hr>


<table>
<th>
  Book
</th>

<th>
  Price
</th>

<th>
  Quantity 
</th>

<th>
  Total 
</th>


<% @user_cart.each do |c| %>
<tr>
  <td>
    <%= @books.find_by(id: c.book_id).title %> <br>
  </td>
  <td>
    <%= @books.find_by(id: c.book_id).price %>
  </td>

  <td>
    <%= form_with url: user_cart_path(current_user, c.book_id), method: :patch do |f|%>
      <%= f.submit '+'%>
        <span id="<%= c.book_id %>"> <%= c.quantity %> </span> 
      <%= f.submit '-'%>
    <% end %>
  </td>
  <td>
    <span id="Total<%= c.book_id %>">
      <%= @books.find_by(id: c.book_id).price * c.quantity %>
    </span>
  </td>
  
  
</tr>
<% end%>
</table>
<hr>
  <span id="subtotal">
    Subtotal <%= subtotal %>
  </span> 
  


<br> <br>
  Shopping Rates
<br> <br>
  <strong> Total</strong>   
<hr>
<br>

<%= link_to 'Back', books_path %>

